<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="Ingots Wealth Service">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
	<link rel="icon" href="/img/favicon.ico">
	
	<title>{{title}}</title>
	
	<link rel='stylesheet' href='https://yarnpkg.com/en/package/normalize.css' />
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css' />
	<!--<link rel='stylesheet' href='/styles/overrides.css' />-->
</head>

<body>
	<div class="container">
		<section class="header">
			<h2 class="title">Ingots Wealth Service</h2>
		</section>
		<div class="navbar-spacer"></div>
		
		{{{body}}}
	</div>
</body>

</html>