<div class="docs-section">
    {{#each products}}
    <div class="row">
        <div class="nine columns">
            {{this.pkgName}}&nbsp;&nbsp;(Started on: {{formatDate this.startDate}})
        </div>
        <div class="three columns">
            <a href={{concat '/products/check_payee?appid=' this.id}}>Verify</a>
        </div>
    </div>
    {{/each}}
    <div style="padding-top:5em;"></div>
    <button type="button" id="btnAccNum">+ Add New</button>
</div>
<script type="text/javascript">
  const button = document.getElementById('btnAccNum');
  button.addEventListener('click', async _ => {
    location.href = '/products/choose';
  })
</script>